@mixin defaultButton {
    font-weight: bold !important;
    padding: 15px 60px !important;
    border-radius: 5px !important;
    border: unset !important;
    color: white !important;
    background-color: $blue !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2) !important;
    transition: box-shadow 300ms, background-color 300ms !important;
    width: fit-content !important;
    @include underTablet {
        padding: 12px 50px !important;
    }
    @include mobile {
        font-size: 0.9rem !important;
        padding: 10px 45px !important;
    }
    &:hover,
    &:active {
        font-weight: bold !important;
        padding: 15px 60px !important;
        border-radius: 5px !important;
        border: unset !important;
        width: fit-content !important;
        @include underTablet {
            padding: 12px 50px !important;
        }
        @include mobile {
            font-size: 0.9rem !important;
            padding: 10px 45px !important;
        }
        background-color: $darkBlue !important;
        box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.2) !important;
    }
}
@include titanClassWithID($primary-button) {
    width: fit-content !important;
    button {
        @include defaultButton;
    }
}
@include titanClassWithID($red-button) {
    width: fit-content !important;
    button {
        @include button;
        background-color: $warn !important;
        padding: 8px 30px;
        font-size: 0.9rem;
        @include underTablet {
            padding: 8px 20px;
        }
        @include mobile {
            padding: 8px 15px;
        }
        &:hover,
        &:active {
            font-size: 0.9rem !important;
            padding: 8px 30px !important;
            background-color: #b61414 !important;
            @include underTablet {
                padding: 8px 20px !important;
            }
            @include mobile {
                padding: 8px 15px !important;
            }
        }
    }
}
@include titanClassWithID($green-button) {
    width: fit-content !important;
    button {
        @include button;
        background-color: $mintGreen !important;
        padding: 8px 30px;
        font-size: 0.9rem;
        @include underTablet {
            padding: 8px 20px;
        }
        @include mobile {
            padding: 8px 15px;
        }
        &:hover,
        &:active {
            font-size: 0.9rem !important;
            padding: 8px 30px !important;
            background-color: #199c77 !important;
            @include underTablet {
                padding: 8px 20px !important;
            }
            @include mobile {
                padding: 8px 15px !important;
            }
        }
    }
}
@include titanClassWithID($text-button) {
    width: fit-content !important;
    button {
        background-color: transparent !important;
        white-space: nowrap;
        letter-spacing: 0.1rem;
        transition: letter-spacing 300ms;
        border: unset !important;
        font-weight: bold !important;
        border-radius: 5px !important;
        padding: 2px 5px !important;
        @include mediaQuery(null, 999px) {
            font-size: 0.9rem;
        }
        &:hover,
        &:active {
            background-color: transparent !important;
            padding: 2px 5px !important;
            border: unset !important;
            font-weight: bold !important;
            border-radius: 5px !important;
            letter-spacing: 0.15rem;
            @include mediaQuery(null, 999px) {
                font-size: 0.9rem;
            }
        }
    }
}
