@include titanClassWithID($primary-button) {
  width: fit-content !important;
  button {
    @include defaultButton;
  }
}
@include titanClassWithID($red-button) {
  width: fit-content !important;
  button {
    @include defaultButton;
    background-color: $warn !important;
    padding: 8px 30px!important;
    font-size: 0.9rem!important;
    @include underTablet {
      padding: 8px 20px;
    }
    @include mobile {
      padding: 8px 15px;
    }
    &:hover,
    &:active {
      font-size: 0.9rem !important;
      padding: 8px 30px !important;
      background-color: #b61414 !important;
      @include underTablet {
        padding: 8px 20px !important;
      }
      @include mobile {
        padding: 8px 15px !important;
      }
    }
  }
}
@include titanClassWithID($green-button) {
  width: fit-content !important;
  button {
    @include defaultButton;
    background-color: $mintGreen !important;
    padding: 8px 30px!important;
    font-size: 0.9rem!important;
    @include underTablet {
      padding: 8px 20px;
    }
    @include mobile {
      padding: 8px 15px;
    }
    &:hover,
    &:active {
      font-size: 0.9rem !important;
      padding: 8px 30px !important;
      background-color: #199c77 !important;
      @include underTablet {
        padding: 8px 20px !important;
      }
      @include mobile {
        padding: 8px 15px !important;
      }
    }
  }
}
@include titanClassWithID($text-button) {
  width: fit-content !important;
  button {
    background-color: transparent !important;
    white-space: nowrap;
    letter-spacing: 0.1rem;
    transition: letter-spacing 300ms;
    border: unset !important;
    font-weight: bold !important;
    border-radius: 5px !important;
    padding: 2px 5px !important;
    @include mediaQuery(null, 999px) {
      font-size: 0.9rem;
    }
    &:hover,
    &:active {
      background-color: transparent !important;
      padding: 2px 5px !important;
      border: unset !important;
      font-weight: bold !important;
      border-radius: 5px !important;
      letter-spacing: 0.15rem;
      @include mediaQuery(null, 999px) {
        font-size: 0.9rem;
      }
    }
  }
}

@include titanClassWithID($route-button) {
  width: 100%;
  button {
    & > div {
      width: fit-content !important;
    }
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    gap: 10px !important;
    border-radius: 10px !important;
    border: 1px solid black !important;
    background-color: white !important;
    color: black !important;
    padding: 14px 12px 14px 100px !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
    transition: box-shadow 300ms, background-color 300ms !important;
    font-weight: bold !important;
    line-height: 1 !important;
    text-align: start;
    @include underTablet {
      padding: 14px 12px 14px 85px !important;
    }
    @include mobile {
      padding: 14px 12px 14px 60px !important;
    }
    &:after {
      position: relative;
      content: url("data:image/svg+xml,%3Csvg width='32px' height='32px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.79289 6.29289C9.18342 5.90237 9.81658 5.90237 10.2071 6.29289L15.2071 11.2929C15.5976 11.6834 15.5976 12.3166 15.2071 12.7071L10.2071 17.7071C9.81658 18.0976 9.18342 18.0976 8.79289 17.7071C8.40237 17.3166 8.40237 16.6834 8.79289 16.2929L13.0858 12L8.79289 7.70711C8.40237 7.31658 8.40237 6.68342 8.79289 6.29289Z' fill='%23000000'/%3E%3C/svg%3E");
      width: 32px;
      height: 32px;
      transition: transform 200ms;
    }
    &:hover,
    &:active {
      line-height: 1 !important;
      font-weight: bold !important;
      padding: 14px 12px 14px 100px !important;
      border-radius: 10px !important;
      border: 1px solid black !important;
      background-color: rgb(238, 238, 238) !important;
      box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25) !important;
      @include underTablet {
        padding: 14px 12px 14px 85px !important;
      }
      @include mobile {
        padding: 14px 12px 14px 60px !important;
      }
      &:after {
        transform: translateX(10%);
      }
    }
  }
}


@include titanClassWithID($submit-button){
  width: 100%;
  button {
    & > div {
      width: fit-content !important;
    }
    font-size: 20px !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    gap: 10px !important;
    border-radius: 10px !important;
    border: 1px solid black !important;
    background-color: rgba(207,234,255,1) !important;
    color: black !important;
    padding: 18px 12px 18px 100px !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
    transition: box-shadow 300ms, background-color 300ms !important;
    font-weight: bold !important;
    line-height: 1 !important;
    text-align: start;
    @include underTablet {
      padding: 18px 12px 18px 85px !important;
    }
    @include mobile {
      padding: 18px 12px 18px 60px !important;
    }
    &:after {
      position: relative;
      content: url("data:image/svg+xml,%3Csvg width='32px' height='32px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.79289 6.29289C9.18342 5.90237 9.81658 5.90237 10.2071 6.29289L15.2071 11.2929C15.5976 11.6834 15.5976 12.3166 15.2071 12.7071L10.2071 17.7071C9.81658 18.0976 9.18342 18.0976 8.79289 17.7071C8.40237 17.3166 8.40237 16.6834 8.79289 16.2929L13.0858 12L8.79289 7.70711C8.40237 7.31658 8.40237 6.68342 8.79289 6.29289Z' fill='%23000000'/%3E%3C/svg%3E");
      width: 32px;
      height: 32px;
      transition: transform 200ms;
    }
    &:hover,
    &:active {
      line-height: 1 !important;
      font-weight: bold !important;
      padding: 18px 12px 18px 100px !important;
      border-radius: 10px !important;
      border: 1px solid black !important;
      background-color: rgba(146,205,251,1) !important;
      box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25) !important;
      @include underTablet {
        padding: 18px 12px 18px 85px !important;
      }
      @include mobile {
        padding: 18px 12px 18px 60px !important;
      }
      &:after {
        transform: translateX(10%);
      }
    }
  }
}
