@use "sass:list";
@include titanClassWithID($stepper) {
    width: 100% !important;
    & > div > div[id] {
        width: 100% !important;
        .stack-element-separator-row {
            display: none;
        }
        .ft--theme--Stepper--panelRoot {
            padding: 30px 0px !important;
            & > div > span {
                span {
                    text-align: center;
                }
                @include tablet {
                    display: flex;
                    flex-direction: column;
                }

                @include mediaQuery(null, 550px) {
                    > span:nth-of-type(2) {
                        display: none;
                    }
                }
            }
        }
        .ft--theme--Stepper--btnRoot {
            display: flex;
            justify-content: space-around;
            button {
                @include elementReset;
                @include defaultButton;
            }
            margin-bottom: 62px;
            @include tablet {
                margin-bottom: 50px;
            }
            @include mobile {
                margin-bottom: 36px;
            }
        }
        div[role="tabpanel"] {
            &[hidden] {
                display: none;
            }
            display: flex;
            flex-direction: column;
            row-gap: 12px;
            height: 100%;
            padding: 62px min(14%, 200px) 36px;
            @include tablet {
                padding: 50px 100px 36px;
            }
            @include mobile {
                padding: 25px 15px 36px;
            }
        }
    }
}

@mixin defaultFlexContainer {
    width: 100%;
    .ft--elem--show {
        display: flex !important;
    }
    > div > div[id] {
        display: flex;
        gap: 12px;
        @content;
    }
}
@include titanClassWithID($flex-col-cont) {
    @include defaultFlexContainer {
        flex-direction: column;
    }
}
@include titanClassWithID($flex-row-cont) {
    @include defaultFlexContainer {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@include titanClassWithID($fields-cont) {
    & > div > div[id] {
        display: flex;
        flex-direction: column;
        column-gap: 12px;
        row-gap: 18px;
        border-radius: 3px;
        border: 1px solid black;
        background-color: white;
        padding: 22px 14px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        .ft--elem--show {
            display: flex !important;
        }
    }
}
@each $field-row-id in $fields-cont-row {
    @include titanClassWithID($field-row-id) {
        & > div > div[id] {
            display: flex;
            flex-wrap: wrap;
            column-gap: 12px;
            row-gap: 18px;
        }
    }
}
@include titanClassWithID($repeater-cont) {
    & > div > div {
        overflow-y: hidden !important;
        row-gap: 20px;
    }
    div[data-index] {
        @include innerContainer;
        .stack-element-separator-row {
            display: none;
        }
        .ft--elem--show {
            display: flex !important;
        }
    }
}
// @include titanClassWithID($repeater-button-con) {
//     & > div > div {
//         overflow-y: hidden !important;
//         row-gap: 20px;
//     }
//     div[data-index] {
//         @include innerContainer;
//         .stack-element-separator-row {
//             display: none;
//         }
//         .ft--elem--show {
//             display: flex !important;
//         }
//     }
// }
@include titanClassWithID($divider) {
    width: 100% !important;
    height: 1px;
    background-color: $grey !important;
}
