.ft--#{$logo-image}--root {
    position: relative !important;
    width: 250px !important;
    height: fit-content !important;
    @include mediaQuery(null, 999px) {
        width: 190px !important;
    }
    img {
        width: 100%;
    }
}
.ft--#{$home-route-indicator}--root {
    @include elementReset;
    position: absolute !important;
    z-index: 10;
    left: 34px !important;
    width: 24px !important;
    height: 24px !important;
    @include mediaQuery(null, 999px) {
        left: 28px !important;
    }
    @include mobile {
        left: 20px !important;
    }
    img {
        @include elementReset;
        width: 100%;
    }
}
.ft--#{$small-icon}--root {
    @include elementReset;
    img {
        @include elementReset;
    }
}

.ft--#{$submit-icon}--root {
    @include elementReset;
    position: absolute !important;
    z-index: 10;
    left: 34px !important;
    width: 30px !important;
    height: 30px !important;
    @include mediaQuery(null, 999px) {
        left: 28px !important;
    }
    @include mobile {
        left: 20px !important;
    }
    img {
        @include elementReset;
        width: 100%;
    }
}
