@include titanClassWithID($logo-image) {
    position: relative !important;

    height: 50px;
    @include mediaQuery(null, 999px) {
        height: 40px;
    }
    .ft--theme--Image--root {
        position: relative !important;
    }
    img {
        height: 100%;
    }
}
