@include titanClassWithID($logo-image) {
    position: relative !important;
    width: 250px !important;
    height: fit-content !important;
    @include mediaQuery(null, 999px) {
        width: 180px !important;
    }
    img {
        width: 100%;
    }
}
