.ft--#{$body}--spreadContent {
    div[data-area="Col1"] {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100% !important;
        max-width: min(100vw, 1440px);
    }
}

@include titanClassWithID($header) {
    order: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0d1014;
    padding: 16px 50px;
    min-height: 70px;
    @include extendBackgroundColor;
    @include tablet {
        padding: 15px 35px;
    }
    @include mobile {
        padding: 10px 15px;
    }
}
//main
@include titanClassWithID($main) {
    flex: 1;
    order: 2;
    display: flex;
    flex-direction: column;
    > div > div {
        height: 100%;
    }
}
//footer
@include titanClassWithID($footer) {
    order: 3;
    display: flex;
    justify-content: center;
    background-color: #fbfbfb;
    padding: 20px 50px;
    text-align: center;
    @include extendBackgroundColor;
    @include tablet {
        padding: 15px 35px;
    }
    @include mobile {
        padding: 15px;
    }
    //footer text
    > div {
        position: relative;
    }
    div[data-type="Paragraph"] {
        > div > div {
            font-size: 1rem;
            line-height: 1.2;
            @include mobile {
                font-size: 0.8rem;
            }
        }
    }
}
