// .ft--#{$body}--spreadRoot {
//     @include containerReset;
//     background-color: $backgroundColor !important;
//     min-height: 100vh;
//     *,
//     ::before,
//     ::after {
//         box-sizing: border-box;
//         min-width: 0;
//     }

//     * {
//         font-family: "Gotham", sans-serif !important;
//         line-height: 1.5;
//         margin: 0px;
//     }
//     div[data-area="Col1"] {
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//         height: 100%;
//         width: 100% !important;
//         max-width: min(100vw, 1440px);
//     }
// }

@include titanClassWithID($header) {
    order: 1;
    & > div > div[id] {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #0d1014;
        padding: 16px 50px;
        min-height: 70px;
        width: 100%;
        @include extendBackgroundColor;
        @include tablet {
            padding: 15px 35px;
        }
        @include mobile {
            padding: 10px 15px;
        }
    }
}
//main
@mixin defaultMain {
    flex: 1;
    order: 2;
    & > div > div[id] {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 48px;
        width: 100% !important;
        height: 100%;
        @include tablet {
            row-gap: 40px;
        }
        @include mobile {
            row-gap: 30px;
        }
        @content;
    }
}
@include titanClassWithID($main) {
    @include defaultMain;
}
@include titanClassWithID($main-pl) {
    @include defaultMain {
        padding: 62px min(25%, 400px);
        @include tablet {
            padding: 50px 100px;
        }
        @include mobile {
            padding: 25px 15px;
        }
    }
}
@include titanClassWithID($main-ps) {
    @include defaultMain {
        padding: 60px 50px;
        @include tablet {
            padding: 35px 35px;
        }
        @include mobile {
            padding: 25px 15px;
        }
    }
}
//footer
@include titanClassWithID($footer) {
    order: 3;
    & > div > div[id] {
        display: flex;
        justify-content: center;
        background-color: #fbfbfb;
        padding: 20px 50px;
        text-align: center;
        width: 100%;
        @include extendBackgroundColor;
        @include tablet {
            padding: 15px 35px;
        }
        @include mobile {
            padding: 15px;
        }
    }
}
