//Root Layouts
$body: "e454";
$header: "e440";
$main: "e441";
$main-pl: "e576";
$main-pm: "e2426";
$main-ps: "e577";
$footer: "e442";

//Containers
$stepper: "e579";

$flex-col-cont: "e580";
$flex-row-cont: "e730";
$fields-cont: "e589";
$fields-cont-row: "e629", "e633", "e636", "e639", "e642", "e645", "e648", "e651",
  "e654", "e657";
$repeater-row-cont: "e725";
$repeater-col-cont: "e1361";
$repeater-button-cont: "e717";
$route-button-cont: "e2032";
$info-section-cont: "e2037";
$divider: "e717";

//Input
$radio: "e592";
$input-1-3: "e698";
$input-2-3: "e699";
$input-full: "e700";
$input-1-2: "e701";
$input-full-bold: "e2035";

//Typography
$header-w-underline: "e459";
$paragraph: "e578";
$step-section-header: "e588";
$typography-reset: "e590";

//Button
$button-reset: "e1053";
$primary-button: "e458";
$green-button: "e457";
$red-button: "e460";
$text-button: "e461";
$route-button: "e1520";

//Image
$logo-image: "e455";
$home-route-indicator: "e2033";
$small-icon: "e2036";
