//Root Layouts
$body: "e454";
$header: "e440";
$main: "e441";
$main-pl: "e576";
$main-ps: "e577";
$footer: "e442";

//Containers
$stepper: "e579";

//Input

//Typography
$header-w-underline: "e459";
$paragraph: "e578";
//Button
$primary-button: "e458";
$green-button: "e457";
$red-button: "e460";
$text-button: "e461";

//Image
$logo-image: "e455";
