@mixin elementReset {
    position: relative;
    border: unset;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    width: unset;
    height: unset;
    min-width: fit-content;
    min-height: fit-content;
}

@mixin extendBackgroundColor {
    &::after,
    &::before {
        content: "";
        position: absolute;
        height: 100%;
        background-color: inherit;
        width: 50vw;
    }
    &::before {
        left: 0px;
        top: 0px;
        transform: translateX(-100%);
    }
    &::after {
        right: 0px;
        top: 0px;
        transform: translateX(100%);
    }
}

//DEFAULT CONFIGS
@mixin defaultButton {
    font-weight: bold;
    padding: 15px 60px;
    border-radius: 5px;
    color: white;
    background-color: $blue;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    transition: box-shadow 300ms, background-color 300ms;
    @include underTablet {
        padding: 12px 50px;
    }
    @include mobile {
        font-size: 0.9rem;
        padding: 10px 45px;
    }
    &:hover,
    &:active {
        font-weight: bold !important;
        padding: 15px 60px !important;
        border-radius: 5px !important;
        @include underTablet {
            padding: 12px 50px !important;
        }
        @include mobile {
            font-size: 0.9rem !important;
            padding: 10px 45px !important;
        }
        background-color: $darkBlue !important;
        box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.2) !important;
    }
}

@mixin defaultMainRoot {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 48px;
    // padding: 62px 200px;
    @include tablet {
        row-gap: 40px;
        // padding: 50px 100px;
    }
    @include mobile {
        row-gap: 30px;
        // padding: 25px 15px;
    }
}

@mixin defaultFormSection($header, $container) {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    > div {
        @include orderingHas($header, $container);
    }
    #{$container} {
        @include defaultFieldsContainer;
        @content;
    }
}

@mixin defaultStepperRoot($element) {
    div[data-type="Container"]:has(#{$element}) > div > div {
        div[data-type="Stepper"] > div > div {
            .stack-element-separator-row {
                display: none;
            }
            .ft--theme--Stepper--btnRoot {
                margin-bottom: 62px;
                @include tablet {
                    margin-bottom: 50px;
                }
                @include mobile {
                    margin-bottom: 36px;
                }
            }
            div[role="tabpanel"] {
                &[hidden] {
                    display: none;
                }
                display: flex;
                flex-direction: column;
                row-gap: 36px;
                height: 100%;
                padding: 62px min(14%, 200px) 36px;
                @include tablet {
                    padding: 50px 100px 36px;
                }
                @include mobile {
                    padding: 25px 15px 36px;
                }
            }
            @content;
        }
    }
}
//Form Related
@mixin defaultFieldsContainer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 18px;
    border-radius: 3px;
    border: 1px solid black;
    background-color: white;
    padding: 22px 14px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    div[data-type="Paragraph"],
    div[data-type="Paragraph HTML"] {
        width: 100%;
    }
    div[data-type="Input Fields"] {
        flex: 1;
        fieldset {
            width: 100%;
        }
    }
    @content;
}

@mixin containerWithID($ids...) {
    div[data-type="Input Fields"] {
        &:has(#{$ids}) {
            @content;
        }
    }
}

@mixin oneThirdWidth {
    width: calc(33.33% - 12px);
    min-width: calc(33.33% - 12px);
    @include underTablet {
        width: 100%;
        min-width: 100%;
    }
}

@mixin halfWidth {
    width: calc(50% - 6px);
    min-width: calc(50% - 6px);
    @include underTablet {
        width: 100%;
        min-width: 100%;
    }
}

@mixin fullWidth {
    width: 100%;
    min-width: 100%;
    @include underTablet {
        min-width: 100%;
    }
}
