@use "sass:list";

@mixin ordering($identifiers...) {
    @for $i from 1 through length($identifiers) {
        #{list.nth($identifiers, $i)} {
            order: $i;
        }
    }
}

@mixin orderingHas($identifiers...) {
    @for $i from 1 through length($identifiers) {
        &:has(#{list.nth($identifiers, $i)}) {
            order: $i;
        }
    }
}

@mixin applyTo($identifiers...) {
    #{$identifiers} {
        @content;
    }
}

@mixin applyHas($identifiers...) {
    &:has(#{$identifiers}) {
        @content;
    }
}

@mixin titanClassWithID($id) {
    .ft--#{$id}--root:has(> .ft--control--root) {
        width: 100%;
        @include elementReset;
        & > .ft--control--root,
        & .ft--control--root > *,
        & .ft--form--elem--wrap > * {
            width: 100% !important;
            @include elementReset;
        }
        @content;
    }
}
