@mixin elementReset {
    position: relative !important;
    border: unset;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    width: unset;
    height: unset;
    min-width: fit-content;
    min-height: fit-content;
}

@mixin containerReset {
    @include elementReset;
    width: 100%;
    & > div,
    & > div > div {
        @include elementReset;
        width: 100%;
    }
}
