$fields-column-gap: 12px;

@mixin oneThirdWidth {
    width: calc(33.33% - ($fields-column-gap / 3 * 2));
    min-width: calc(33.33% - ($fields-column-gap / 3 * 2));
    @include underTablet {
        width: 100%;
        min-width: 100%;
    }
}

@mixin twoThirdWidth {
    width: calc(66.66% - $fields-column-gap / 2);
    min-width: calc(66.66% - $fields-column-gap / 2);
    @include underTablet {
        width: 100%;
        min-width: 100%;
    }
}

@mixin halfWidth {
    width: calc(50% - $fields-column-gap / 2);
    min-width: calc(50% - $fields-column-gap / 2);
    @include underTablet {
        width: 100%;
        min-width: 100%;
    }
}

@mixin fullWidth {
    width: 100%;
    min-width: 100%;
    @include underTablet {
        min-width: 100%;
    }
}
