.login-signup-container {
    height: 100%;
    padding: 0;
}
.login-signup-center-part,
.verification-center-part {
    width: 100% !important;
    height: 100% !important;
    padding: 150px min(25%, 400px);
    background-color: $backgroundColor !important;
    @include tablet {
        padding: 130px 100px;
    }
    @include mobile {
        padding: 130px 15px;
    }
}

.login-signup-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100% !important;
    height: 100% !important;
    text-align: center;
    box-shadow: unset !important;
    border-radius: unset !important;
    padding: unset !important;
    * {
        margin: unset !important;
    }
    h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content !important;
        @include aniUnderline;
        margin-bottom: 80px !important;
    }
    > p {
        margin-bottom: 25px !important;
    }
    form {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        width: 420px;
        @include underTablet {
            width: 100%;
        }
        .ft--theme--SmartVLoginField--standard {
            display: flex;
            flex-direction: column;
            gap: 5px;
            border-radius: 10px;
            border: 1px solid black;
            background-color: white;
            padding: 8px 20px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

            .ft--theme--PrjSmartVLoginField--asterix {
                display: none;
            }
            label {
                position: relative;
                align-self: flex-start;
                left: -0.2rem;
            }
            input {
                padding: 0px;
            }
            > div {
                &:after,
                &:before {
                    display: none;
                }
            }
        }
        .btn-container {
            margin: 0px;
            button {
                @include elementReset;
                @include defaultButton;
                background-color: $blue !important;
                &:hover,
                &:active {
                    border: unset !important;
                    background-color: $darkBlue !important;
                }
            }
        }
        .fterror {
            color: $warn;
            display: flex;
            justify-content: center;
            font-weight: bold;
        }
    }
}
