#{$rootHeader} {
    order: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0d1014;
    padding: 16px 50px;
    min-height: 70px;
    @include extendBackgroundColor;
    @include tablet {
        padding: 15px 35px;
    }
    @include mobile {
        padding: 10px 15px;
    }

    > div[data-type="Image"],
    .ft--Image--base {
        position: relative;
        height: 50px;
        @include mediaQuery(null, 999px) {
            height: 40px;
        }
        * {
            height: 100%;
        }
    }
    > div[data-type="Button"] {
        button {
            background-color: transparent !important;
            letter-spacing: 0.1rem;
            transition: letter-spacing 300ms;
            border: unset !important;
            font-weight: bold !important;
            border-radius: 5px !important;
            padding: 2px 5px !important;
            @include mediaQuery(null, 999px) {
                font-size: 0.9rem;
            }
            &:hover,
            &:active {
                background-color: transparent !important;
                padding: 2px 5px !important;
                border: unset !important;
                font-weight: bold !important;
                border-radius: 5px !important;
                letter-spacing: 0.15rem;
                @include mediaQuery(null, 999px) {
                    font-size: 0.9rem;
                }
            }
        }
    }
}
//main
#{$rootMain} {
    order: 2;
    display: flex;
    flex-direction: column;
    > * {
        @include elementReset;
        width: unset;
    }
    > div > div {
        height: 100%;
    }
    [data-type] {
        > div,
        > div > div {
            > [id]:first-child {
                width: 100%;
            }
        }
    }
    flex: 1;
    padding: 60px 50px;
    @include tablet {
        padding: 35px 35px;
    }
    @include mobile {
        padding: 25px 15px;
    }
}
//footer
#{$rootFooter} {
    order: 3;
    display: flex;
    justify-content: center;
    background-color: #fbfbfb;
    padding: 20px 50px;
    text-align: center;
    @include extendBackgroundColor;
    @include tablet {
        padding: 15px 35px;
    }
    @include mobile {
        padding: 15px;
    }
    //footer text
    > div {
        position: relative;
    }
    div[data-type="Paragraph"] {
        > div > div {
            font-size: 1rem;
            line-height: 1.2;
            @include mobile {
                font-size: 0.8rem;
            }
        }
    }
}
