@mixin mediaQuery($min, $max) {
  @if $min != null and $max == null {
    @media (min-width: $min) {
      @content;
    }
  } @else if $max != null and $min == null {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  }
}

@mixin elementReset {
  position: relative;
  border: unset;
  top: unset;
  left: unset;
  right: unset;
  bottom: unset;
  width: fit-content;
  height: fit-content;
  min-width: fit-content;
  min-height: fit-content;
}

@mixin extendBackgroundColor {
  &::after,
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    background-color: inherit;
    width: 50vw;
  }
  &::before {
    left: 0px;
    top: 0px;
    transform: translateX(-100%);
  }
  &::after {
    right: 0px;
    top: 0px;
    transform: translateX(100%);
  }
}

@mixin tablet {
  @include mediaQuery(767px, 999px) {
    @content;
  }
}

@mixin mobile {
  @include mediaQuery(null, 766px) {
    @content;
  }
}
