$headerIds: "#e4", "#e69", "#e35", "#e126";
$mainIds: "#e6", "#e71", "#e37", "#e129";
$footerIds: "#e7", "#e75", "#e41", "#e160";
//colors
$backgroundColor: #eff5f7;
$lightGrey: #f1f4f5;
$grey: #ececec;
$mintGreen: #20ce9c;
$blue: #043fa2;
$darkBlue: #032f7a;
