$headerIds: "#e126", "#e168";
$mainIds: "#e129", "#e171";
$footerIds: "#e160", "#e173";
//colors
$backgroundColor: #eff5f7;
$lightGrey: #f1f4f5;
$grey: #ececec;
$mintGreen: #20ce9c;
$blue: #043fa2;
$darkBlue: #032f7a;
$warn: #dd1515;
