div[data-type="Container"]:has(div[id="e37"]) > div > div {
    @include rootMain;
    padding: 62px min(25%, 400px);
    @include tablet {
        padding: 50px 100px;
    }
    @include mobile {
        padding: 25px 15px;
    }
    //ORDERING
    div {
        @include orderingHas("#e38", "#e39", "#e40");
    }
    //header
    #e38 {
        @include aniUnderline;
    }
    //description
    #e39 {
    }
    //CTA-button
    #e40 {
        @include button;
    }
}
