div[data-type="Container"]:has(div[id="e37"]) > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 48px;
  padding: 62px min(25%, 400px);

  @include tablet {
    padding: 50px 100px;
  }

  @include mobile {
    padding: 25px 15px;
  }
  //ORDERING
  div {
    &:has(#e38) {
      order: 1;
    }
    &:has(#e39) {
      order: 2;
    }
    &:has(#e40) {
      order: 3;
    }
  }
  //header
  #e38 {
    @include aniUnderline;
  }
  //description
  #e39 {
  }
  //CTA-button
  #e40 {
    @include defaultButton;
  }
}
