div[data-type="Container"]:has(div[id="e71"]) > div > div {
    @include defaultMainRoot;
    padding: 62px min(14%, 200px);
    @include tablet {
        padding: 50px 100px;
    }
    @include mobile {
        padding: 25px 15px;
    }
    //ORDERING
    div {
        &:has(#e72) {
            order: 1;
        }
        &:has(#e77) {
            order: 2;
        }
        &:has(#e80) {
            order: 3;
            width: 100%;
        }
        &:has(#e84) {
            order: 4;
        }
    }
    //header
    #e72 {
        @include aniUnderline;
    }
    //description-cont
    #e77 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    //main form container
    #e80 {
        display: flex;
        flex-direction: column;
        row-gap: 36px;

        //section-container
        #e81,
        #e90 {
            display: flex;
            flex-direction: column;
            row-gap: 12px;
            //section ordering
            > div {
                @include ordering("&:has(#e83)", "&:has(#e82)");
                @include ordering("&:has(#e95)", "&:has(#e91)");
            }

            #e82,
            #e91 {
                @include defaultFieldsContainer {
                    #e86,
                    #e93 {
                        width: 100%;
                    }
                    #e89 {
                    }
                }
            }
        }
    }
    #e84 {
        @include defaultButton;
    }
}
