div[data-type="Container"]:has(div[id="e71"]) > div > div {
  @include defaultMainRoot;
  padding: 62px min(14%, 200px);
  @include tablet {
    padding: 50px 100px;
  }
  @include mobile {
    padding: 25px 15px;
  }
  //ORDERING
  div {
    &:has(#e72) {
      order: 1;
    }
    &:has(#e77) {
      order: 2;
    }
    &:has(#e80) {
      order: 3;
      width: 100%;
    }
    &:has(#e84) {
      order: 4;
    }
  }
  //header
  #e72 {
    @include aniUnderline;
  }
  //description-cont
  #e77 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  //main form container
  #e80 {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
    //section-1
    #e81 {
      display: flex;
      flex-direction: column;
      row-gap: 12px;
      //section ordering
      > div {
        &:has(#e83) {
          order: 1;
        }
        &:has(#e82) {
          order: 2;
        }
      }

      #e83 {
      }
      #e82 {
        border-radius: 5px;
        border: 1px solid black;
        background-color: white;
        padding: 22px 14px;
      }
    }
  }
  #e84 {
    @include defaultButton;
  }
}
